@page "/ConsultaTickets"
@inject TicketsBLL ticketsBLL

<div class="card-header row">
    <div class="col-md-4">
        <label>Desde: </label>
        <InputDate @bind-Value="Desde" class="form-control id-input"></InputDate>
    </div>
    <div class="col-md-4">
        <label>Hasta: </label>
        <InputDate @bind-Value="Hasta" class="form-control id-input"></InputDate>
    </div>
    <label>Filtrar Por:</label>
    <div class="col-md-6 input-group filter-input">
        <InputSelect @bind-Value="filtrar" class="form-select">
            <option value="0">Fecha</option>
            <option value="1">Cliente Id</option>
            <option value="2">Asunto</option>
        </InputSelect>
        <div class="input-group-append">
            <button type="button" class="btn btn-dark oi oi-magnifying-glass" @onclick="Buscar"></button>
            <button type="button" class="btn btn-dark oi oi-reload" @onclick="Reiniciar"></button>
        </div>
    </div>
    <div class="col-md-6">
        @switch (filtrar)
        {
            case 1:
                <InputNumber @bind-Value="tickets.ClienteId" class="form-control"></InputNumber>
                break;
            case 2:
                <InputText @bind-Value="tickets.Asunto" class="form-control"></InputText>
            break;
        }
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>TicketID</th>
                <th>Fecha</th>
                <th>Cliente ID</th>
                <th>Sistema ID</th>
                <th>Prioridad ID</th>
                <th>Solicitado Por</th>
                <th>Asunto</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ListaTickets)
            {
                <tr>
                    <td>@item.TicketId</td>
                    <td>@item.Fecha.ToString("MM/dd/yyyy")</td>
                    <td><a href="RegistroCliente/@item.ClienteId">@item.ClienteId</a></td>
                    <td><a href="RegistroSistema/@item.SistemaId">@item.SistemaId</a></td>
                    <td><a href="RegistroPrioridades/@item.PrioridadId">@item.PrioridadId</a></td>
                    <td>@item.SolicitadoPor</td>
                    <td>@item.Asunto</td>
                    <td>@item.Descripcion</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {

    public Tickets tickets { get; set; } = new Tickets();
    public int filtrar { get; set; }
    public List<Tickets> ListaTickets { get; set; } = new List<Tickets>();

    public DateTime Desde { get; set; }
    public DateTime Hasta { get; set; }

    protected override void OnInitialized()
    {
        ListaTickets = ticketsBLL.Listar(l => true);
        Desde = DateTime.Now.AddMonths(-1);
        Hasta = DateTime.Now;
    }

    public void Buscar()
    {
        //Busca si el id seleccionado esta entre las fechas del filtro
        if (filtrar == 0)
            ListaTickets = ticketsBLL.Listar(l => l.Fecha >= Desde.Date && l.Fecha <= Hasta);
        if (filtrar == 1)
            ListaTickets = ticketsBLL.Listar(l => l.ClienteId == tickets.ClienteId && l.Fecha >= Desde.Date && l.Fecha <= Hasta);
        if (filtrar == 2)  
            ListaTickets = ticketsBLL.Listar(l => l.Asunto!.ToLower() == tickets.Asunto!.ToLower() && l.Fecha >= Desde.Date && l.Fecha <= Hasta);
    }

    public void Reiniciar()
    {
        ListaTickets = ticketsBLL.Listar(l => true);
    }
}
